//
//  Variables
//

// Layout
$maxWidth: 1600px !default;

// Colors
$dark: #000 !default;
$light: #fff !default;
$color1: #8504cc !default;
$color2: #eee !default;
$fontColor: #333 !default;
$lineColor: darken(#eee, 10%) !default;

$fontSize: 16px !default;
$fontLineHeight: 1.4 !default;

$fontFamily1: 'Roboto', sans-serif !default;
$fontWeightLight: 300 !default;
$fontWeightNormal: 400 !default;
$fontWeightMedium: 500 !default;
$fontWeightBold: 700 !default;
